<center>
<script src= "/js/getdate.js"> 
</script>
<p id="date"> </p>
<head>
<title>Cash Register</title>
<link href="<%= url('/css/main.css') %>" rel= "stylesheet" type="text/css" />
</head>
<body>
<img alt="doug" align="left" src="/img/jeans.png" width="300" height="450" />
<img alt="doug" align="right" src="/img/shirt.png" width="300" height="450" />
<div class="title">Welcome to Dapper Doug`s Menswear</div>
<br>
<div class="request">What can I help you with today?</div>
<br>
<div class="list"><form method="post" action="item_choice">
<input type="hidden" name="jeans" value="f" id="Mens Jeans"> 
 <input type="checkbox" name="jeans" value="t" id="Mens Jeans"><label for="Jeans"> Mens Jeans $44.98</label><br> 
<input type="hidden" name="sweatshirt" value="f" id="Mens Sweatshirt"> 
<input type="checkbox" name="sweatshirt" value="t" id="Mens Sweatshirt"><label for="Sweatshirt"> Mens Sweatshirt $29.95</label><br> 
<input type="hidden" name="socks" value="f" id="Mens Socks">
<input type="checkbox" name="socks" value="t" id="Mens Socks"><label for="Socks"> Mens Socks $9.95</label><br>
 <input type="hidden" name="underwear" value="f" id="Mens Underwear">
 <input type="checkbox" name="underwear" value="t" id="Mens Underwear"><label for="Underwear"> Mens Underwear $14.95</label> <br>
 <input type="hidden" name="shoes" value="f" id="Mens Shoes">
 <input type="checkbox" name="shoes" value="t" id="Mens Shoes"><label for="Shoes"> Mens Shoes $69.95</label><br><br> 
<input type="submit" value="Add to Order">
</form></div>
<img alt="doug" align="center" src="/img/shoes.png" width="180" height="180" />
</center>
</body>
<script>
    window.onload=getOrderDate('date');
</script>