<center>
<script src= "/js/getdate.js"> 
</script>
<p id="date"> </p>
<head>
<title>Cash Register</title>
<link href="<%= url('/css/main.css') %>" rel= "stylesheet" type="text/css" />
</head>
<body>
<img alt="doug" align="left" src="/img/jeans.png" width="300" height="450" />
<img alt="doug" align="right" src="/img/shirt.png" width="300" height="450" />
<%
   total = 0
    if jeans == "t"
    	total = total + item_name("Mens Jeans")
    end
    if sweatshirt == "t"
    	total = total + item_name("Mens Sweatshirt")
    end
       if socks == "t"
    	total = total + item_name("Mens Socks")
    end
    if underwear == "t"
    	total = total + item_name("Mens Underwear")
    end
    if shoes == "t"
    	total = total + item_name("Mens Shoes")
    end
    %>
    <div class="total">Your Total:<br>
$<%= total.round(2) %></div>
<br>
<br>
<form method="post" action="collection">
<input type="integer" name="payment">
<br>
Put in payment?
<br>
<br>
<input type="submit">
</form>
<br>
<img alt="doug" align="center" src="/img/shoes.png" width="180" height="180" />
</center>
</body>
<script>
window.onload=getOrderDate('date');
</script>